@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(User.Identity.IsAuthenticated)
    {
        <h1> Привет, @User.Identity.Name !</h1>
        <p>Пока статей нет...</p>
    }
    else
    {
        <h1 class="display-4">Привет, Мир!</h1>
        <p>Здесь будет форум от Тёмы</p>
    }
</div>
