@using ASP.Net_Forum.Domain.Entity;
@model List<User>
@{
    ViewData["Title"] = "Index";
}

<h1>Пользователи</h1>
@foreach (var user in Model)
{
    <p>@user.Id</p>
    <p>@user.Login</p>
    <p>@user.Email</p>
}

