
@model ASP.Net_Forum.Domain.Entity.User;

<div class="row">

	<div class="col-6">

            <div class="row mb-3">

                <div class="col">
                    <label class="form-label">Логин</label>
                </div>

                <div class="col">
                    <label class="p-2"> @Model.Login </label>
                </div>

            </div>

             <div class="row mb-3">

                <div class="col">
                    <label class="form-label">Возраст</label>
                </div>

                <div class="col">
                    <label class="p-2"> @Model.Age </label>
                </div>

            </div>
             <div class="row mb-3">

                <div class="col">
                    <label class="form-label">Почта</label>
                </div>

                <div class="col">
                    <label class="p-2"> @Model.Email </label>
                </div>

            </div>
             

            <div class="btn-group">

                <form class="form-check" asp-controller="User" asp-action="Logout">
                    <button type="submit" class="btn btn-primary">
                        Выйти
                    </button>
                </form>
                
            </div>
      </div>
</div>

