
@{
}

<div class="row">
	
	<div class="col-6">

		<div class="row m-5 border border-3 p-4">

			<div class="col border border-3 p-4">
				Статья
			</div>
			<div class="col border border-3 p-4">
				Статья
			</div>
		</div>


		<div class="row m-5 border border-3 p-4">

			<div class="col border border-3 p-4">
				Статья
			</div>
			<div class="col border border-3 p-4">
				Статья
			</div>
		</div>

	</div>
</div>
