@using ASP.Net_Forum.Domain.ViewModels.Note;

@model List<NoteViewModel>

<div class="container overflow-hidden">

		<div class="row row-cols-2 g-2">

			@foreach (var item in Model)
			{
			}

		</div>
</div>