

<div class="container overflow-hidden">

		<div class="row row-cols-2 g-2">

			<div class="col">
				<div class="border border-3 p-4">статья</div> 
			</div>

			<div class="col">
				<div class="border border-3 p-4">статья</div>
			</div>

			<div class="col">
				<div class="border border-3 p-4">статья</div>
			</div>

			<div class="col">
				<div class="border border-3 p-4">статья</div>
			</div>

		</div>
</div>
