@using ASP.Net_Forum.Domain.Entity;

@model List<Note>


@if (Model.Count == 0)
{
	<div class="text-center h1 m-2 p-2">
		Пока нет статей!
	</div>

	<div class="text-center h4 m-2 p-2">
		Но скоро будут...
	</div>
}
else
{
	<div class="row row-cols-2 justify-content-around">

		@foreach (var item in Model)
		{
			<div class="col-5 border rounded-2 m-1 p-1">

				<h4 class="m-2 p-2">@item.Title</h4>
				<p>@item.ShortDiscription</p>

			</div>
		}

	</div>
	
}
	

